{% extends 'base.html' %}

{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %}
<style>
        .bg-custom-blue {
        background-color: #2874A6 ; /* Contoh warna biru */
    }
    
#header {
    background-color: #AED6F1;
    margin-bottom: 20px; 
    padding: 10px;
}

.display-3 {
    margin-bottom: 20px; /* Menambahkan jarak di bawah judul */
}

.lead {
    margin-top: 20px; /* Menambahkan jarak di atas paragraf */
}

    .card {
    height: 100%;
}

.img-container {
    overflow: hidden;
    height: 100%; /* Tinggi gambar setara dengan tinggi card */
}

.card-img {
    width: 100%;
    height: 100%; /* Tinggi gambar setara dengan tinggi card */
    object-fit: cover;
}

.card-body {
    height: 100%;
    padding: 1rem; /* Jarak dari tepi card */
}

.card-title,
.card-text {
    overflow-wrap: break-word;
}

</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Kelompok 6</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/game">Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/video">Video</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<section id="header" class="jumbotron text-center">
    <h1 class="display-3 mb-4">SMAN 68 JAKARTA</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
 
<section id="gallery">
    <div class="container">
        <div class="row">
            {% for member in members %}
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="img-container">
                                <img src="{{ member.img_url }}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ member.nama }}</h5>
                                <p class="card-text">Tanggal Lahir: {{ member.tanggal_lahir }}</p>
                                <p class="card-text">Hobi: {{ member.hobi }}</p>
                                <p class="card-text">Motivasi: {{ member.motivasi }}</p>
                                <p class="card-text">Instagram: {{ member.instagram }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}